<header>
	<h1>ログイン</h1>
</header>
<div class="login-modal-wrapper">
    <div class="login-modal">
        <div class="input-block">
            <p class="input-title">ユーザー名</p>
            <input type="text" class ="input-text" name="userName">
        </div>
        <div class="input-block">
            <p class="input-title">パスワード<span id="note">※8文字以上必須</span></p>
            <input type="password" class ="input-text" name="password">
        </div>
        <div class="buttons">
            <button type="button" id="sign-up" class="btn btn-success btn-lg">新規登録</button>
            <button type="button" id="login" class="btn btn-primary btn-lg">ログイン</button>
        </div>
        <div class="warning" id="empty-name">ユーザー名もしくはパスワードが違います</div>
    </div>
</div>