<div class="index-wrapper">
    <div class="manji-list">
        <ul>
        <%= form_with url: posts_index_url, id: 'refresh',method: :get do |f| %>
            <%= f.select :tag, Post.tags.keys.to_a, {} ,id: 'type-select' %>
        <%end%>

        <% @posts.each do |post| %>
            <% if post.tag == @type %>
            <li><img class="icon-image" src="/images/defult.jpg"><%= post.content %></li>
            <% end %>
        <% end %>
        </ul>
    </div>
</div>

<script>
    $(function(){
        $("#type-select").change(function(){
            $("#refresh").submit();
        });
    });
</script>