<div class="main post-wrapper">
    <%= form_tag("/posts/create") do %>
        <div class="post-content">
            <textarea name="content" cols="30" rows="10"></textarea>
            <button type="submit" id="sign-up" class="btn btn-primary btn-lg">マンジする</button>
        </div>
    <% end %>
</div>