/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*命名ルール（暫定）何の部品?_どんな機能?_何？*/
 /*-----ヘッダーのデザイン系-----*/
header div p{
    margin-bottom:0px;
}
@font-face{
    font-family:"main_font";
    src:font-url('RiiPopkkR.otf')format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{/*画面全体*/
    font-family:"main_font";
}
 .header-outerFrame{/*一番外枠*/
    background-color:#444444;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-outerFrame-item1{/*外枠の子1*/

}
.header-outerFrame-item2{/*外枠の子2*/

}
.header-outerFrame-item3{/*外枠の子3*/
    display: flex;
    align-items: center;
    justify-content: center
}

.header-ruledLine{/*ヘッダーの罫線 例 | やつ*/
    margin:0px 13px 0px 13px;
}



.header-odotter-letter{/*odotterの文字*/
    font-size:35px;
}

/*共通的に使えるCSS*/
.common-letterColor-white{/*文字白色*/
    color:#FFFFFF;
}
/*アンコン押下時のダイアログ*/

.dialog {
  overflow: hidden;
  position: absolute;
  top: 30%;
  height: auto;
  width: 300px;
  display: none;
  border:1px solid #aaa;
  z-index:1000;
}
.dialog-header {
  border: 1px solid #aaa;
  background: #cccccc;
  color: #222222;
  font-weight: bold;
  overflow: hidden;
  padding:5px;
}
.dialog-title {
  float: left;
}
.dialog-close {
  float: right;
  border: 1px solid #d3d3d3;
  background: #e6e6e6;
  font-weight: normal;
  color: #555555;
}
.dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: #fff;
  overflow: auto;
  width: auto;
  height: auto;
}

/*-------------------------------*/
