/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*�������[���i�b��j���̕��i?_�ǂ�ȋ@�\?_���H*/
 /*-----�w�b�_�[�̃f�U�C���n-----*/
header div p{
    margin-bottom:0px;
}
@font-face{
    font-family:"main_font";
    src:font-url("RiiPopkkR.otf")format('truetype');
}

 .header-outerFrame{/*��ԊO�g*/
    font-family:"main_font";
    background-color:#444444;
    display: flex;
    align-items: center;
    justify-content: center
    padding:0px 232px 0px 232px;
}
.header-ruledLine{/*�w�b�_�[�̌r�� �� | ���*/
    margin:0px 13px 0px 13px;
}
.header-search-letter{/*��������*/

}

.header-odotter-letter{/*odotter�̕���*/
    font-size:30px;
    color:#3B87AF;
    margin:0px 270px 0px 265px;
}
/*���ʓI�Ɏg����CSS*/
.common-letterColor-white{/*�������F*/
    color:#FFFFFF;
}


/*-------------------------------*/
