* {
	margin: 0;
	padding: 0;
}


.login-modal{
	width: 80%;
	max-width: 700px;
	margin:20px auto 0 auto;
	padding-bottom: 30px;
	border-radius: 6px;
	background-color: #e6ecf0;
}

.btn{
	margin-top: 30px;
}

.input-title{
	text-align: left;
	margin: 0 0;
	font-size: 30px;
}

.input-block{
	padding: 10px 0;
	margin: 0 auto;
	font-size: 30px;
	width: 80%;
}

.input-text{
	width: 100%;
	font-size: 25px;
	padding: 10px;
	border: 1.5px solid darkgray;
}

.warning{
	color: rgba(255, 51, 51, 0);
	font-size: 20px;
	padding:10px 0;
}

#note{
	color:red;
	margin-left: 10px;
	font-size: 15px;
}