@import url("posts.scss");

* {
	margin: 0;
	padding: 0;
}

.btn-back{
	margin: 11px 0 ;
}

.profile-wrapper{
	width: 865px;
	height: 538px;
	margin: 0 auto 13px auto;
	border: 1px solid black;
}

.profile-header{
	height: 600px;
	position: relative;
}

.profile-content{
	width: 451px;
	height: 187px;
	margin-left: 168px;
}

.profile-info-wrapper {
	width: 100%;
	height: 83px;
	background-color: #fafafa;
}

.profile-info-parent{
	margin-left: 163px;
	display: flex;
}

.profile-info{
	margin: 11px 0;
	padding: 0 11px;
	border-left: medium solid green;
	p{
		text-align: center;
		margin: 0 0;
	}

	.info-title{
		font-size: 22px;
		color: #8f9da8;
	}

	.info-content{
		font-size: 20px;
		color: #3883c8;
	}
}

.title-post-index-wrapper{
	width: 100%;
	height: 52px;
	background-color: #444;
	border: 1px solid black;
	.title-post-index{
		display: block;
		line-height: 52px;
		margin-left: 15px;
		font-size: 24px;
		color: #ffffff;
	}
}

#info-last{
	border-right: medium solid green;
}

.info-title{
	color: #8f9da8;
}

.profile-icon{
	position: absolute;
	left: 30px;
	top: 222px;
}
.edit-profile{
	position: absolute;
	top:283px;
	right: 30px;
}

.profile-user-name{
	font-size: 24px;
	color: #3883c8;
}

.profile-text{
	font-size: 20px;
	color: #000;
}

.header-image{
	width: 100%;
	height: 279px;
	object-position: 0 0;
  	object-fit: cover;
}

.login-modal{
	width: 80%;
	max-width: 700px;
	margin:20px auto 0 auto;
	padding-bottom: 30px;
	border-radius: 6px;
	background-color: #e6ecf0;
}

.btn{
	margin-top: 30px;
}

.input-title{
	text-align: left;
	margin: 0 0;
	font-size: 30px;
}

.input-block{
	padding: 10px 0;
	margin: 0 auto;
	font-size: 30px;
	width: 80%;
}

.input-text{
	width: 100%;
	font-size: 25px;
	padding: 10px;
	border: 1.5px solid darkgray;
}

.warning{
	color: rgba(255, 51, 51, 0);
	font-size: 20px;
	padding:10px 0;
}

#note{
	color:red;
	margin-left: 10px;
	font-size: 15px;
}

.edit-profile-dialog-wrapper{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	display: none;
	position: fixed;
	top: 5%;
	left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.edit-header-wrapper{
	text-align: center;
	position: relative;
	.camera-icon{
		position: absolute;
		right: 50%;
		top: 50%;
	}
}


.edit-profile-dialog{
	background-color: pink;
	border-radius: 10px;
	width: 817px;
	margin: auto;
	position: relative;

	p{
		margin-bottom: 0;
	}

	.header-image{
		width: 803px;
		margin: auto;
	}

	.icon-image{
		position: absolute;
		left: 30px;
		top: 279px;
	}

	.icon-camera-icon{
		position: absolute;
		left: 55px;
		top: 310px;
	}

	.edit-header-title{
		padding:5px 0;
		text-align: center;
		font-size: 30px;
		display: block;
		color: #3b87af;
	}
}

.edit-text-profile{
	padding: 50px 0;

	label{
		font-size: 15px;
		color: #000;
	}

	.edit-text-field{
		font-size: 18px;
		color: #dbdbdb;
		margin-left: 93px;
		resize: none;
	}

	.edit-text{
		margin-left: 37px;
		margin-bottom: 16px;
		display: flex;
  		align-items: flex-start;
	}

	.edit-user-name{
		margin-left: 77px;
	}
}

.edit-footer-wrapper{
	width: 100%;
	height: 66px;
	background-color: gainsboro;
}

.edit-footer-buttons{
	margin-left: 280px;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	height: 100%;
}

.submit-button{
	display: block;
	margin-right:58px;
}